#!/usr/local/plan9/bin/rc

# TODO(rjk): Make this a bit more rational.
datafile = $1

opname = cat $datafile^-response.json | jq '.name'

curl \
	-H 'Authorization: Bearer '^`{gcloud auth application-default print-access-token} \
	-H 'Content-Type: application/json; charset=utf-8' \
	'https://speech.googleapis.com/v1p1beta1/operations/'^$opname \
	> $datafile^-transcript.json